<div class="col-lg-3">
  
  <% if flash[:success] %>
    <p style="color: green;"><%= flash[:success] %></p>
  <% end %>
  
  <h3>User Info</h3>

  <div><%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "100x100" %></div>
  <table>
    <tr>
      <td>Name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>Introduction</td>
      <td><%= user.introduction %></td>
    </tr>
  </table>
  <% if user == current_user %>
    <%= link_to "Profile Edit", edit_user_path(user), class: "btn btn-success" %>
  <% end %>


<h3>New Book</h3>

<div>
  <%= form_with model:book_new, local:true do |f| %>
  <% if book_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= book_new.errors.count %> of the parameters is in error.</h2>
      <ul>
      <% book_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Title</p>
  <div><%= f.text_field :title, autofocus: true, placeholder: "Title" %></div>
  <p>Body</p>
  <div><%= f.text_area :body, autofocus: true, placeholder: "Body" %></div>
  <p><%= f.submit "Create Book", class: "btn btn-success" %></p>

  <% end %>
</div>
</div>