<%= render 'users/userinfo', book: @book_new %>

<div class="col-lg-9">
<h1>Books Detail</h1>

<table class="table table-striped">
  <tr>
    <td>image<br>
    <%= @book.user.name %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-secondary" %></td>
    <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: 'Are you Sure to destroy?' }, class: "btn btn-secondary" %></td>
  </tr>
</table>

</div>